.home__container {
  width: 30%;
  height: 300px;
  background-color: #949fbd;
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid white;
  margin: auto;
  margin-top: 5%;
}

.home__Heading {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.home__button {
  width: 200px;
  background-color: #1c83c1;
  border: none;
  border-radius: 15px;
  margin-left: 25px;
  cursor: pointer;
  height: 60px;
  font-size: 25px;
  color: white;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
}

.home__button:hover {
  color: rgb(255, 255, 255);
  background: #fb8332;
  backdrop-filter: blur(10px);
}

.mt-15 {
  margin-top: 15px;
}